.container {
    margin: 16px;
    padding: 0;

    @media (min-width: 768px) {
        padding: 0 16px;
        margin-left: auto;
        margin-right: auto;
    }

    .header {
        background-color: #F4F4F4;
        padding: 20px;
        margin-bottom: 24px;

        .h1 {
            font-family: Source Sans Pro;
            font-weight: 700;
            font-size: 30px;
            line-height: 33px;
            letter-spacing: 0%;
            text-align: center;
            text-transform: uppercase;
            margin: 0 0 16px;
        }

        .description {
            font-family: Source Sans Pro;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: -1%;
            text-align: center;
        }
    }
}